@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}

/*Configuracion de la imagen de fondo en el body*/
body{
    background-image: url(../img/RWADbS.webp);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

   
}


/*Header que incluye menu de sesiones y logo*/
.header-box{
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.97);
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: auto;
}
/*configuraciones del apartado superior izquierdo, "logo"*/
.logo-box{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}
/*Tamaño de la imagen del logo*/
.logo-header{
    width: 120px;
    height: 110px;
}

/*nombre a la par del logo*/
.title-header{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
}
/*Menu de sesiones*/
.menu{
    display: flex;
}
/*configuraciones para los Li del menú*/
.options{
    padding: 10px;
    margin: 12px;
    list-style: none;
    font-weight: 600;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

/*Container que ayuda a que el fondo del body se pueda visualizar*/
.container{
    width: 100%;
    min-width: 100vw;
    padding-top: 50%;
    opacity: 40%;
    background-color: rgb(0, 0, 0);
}

/*contenedor de toda la información de la pagina*/
.article-box{
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*caja section que contiene los objetivos*/
.objetivos-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    flex-wrap: wrap;
}

/*estilo para todos los titulos de información general de la pagina*/
.titles{
    text-align: center;
    font-weight: 600;
    padding: 10px;
    font-size: 35px;
    color: red;
}

/*div ovalado que contiene una imagen de fondo para que la imagen aparezca de esa forma*/
.img-objetivos{
    display: flex;
    width: 70vw;
    height: 400px;
    display: contents;
    
 
}

.imgOb{
    display: block;
    width: 45%;
    min-width: 35vh;

}

/*estilo para el parrafo de objetivos*/
.p-objetivos{
    text-align: start;
    padding: 15px;
    font-weight: 500;
    font-size: 18px;
    width: 90%;

}

/*div que tiene unida la imagen y el parrfo junton con la lista*/
.objetivos-texts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 10px;
}

/*div que tiene juntas la lista y el parrafo*/
.objetivos-li-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
}
/*configuración para el ol de los objetivos*/
.objetivos-ol{
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    padding: 20px;
}
/*configuración para los li que estan en el ol*/
.objetivos-ol>li{
    padding: 8px;
}

/*contenedor de la mision*/
.mision-box{
    display: flex;
    margin-top: 7%;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

/*parrafo de mision*/
.mision-p{
    width: 75%;
    font-weight: 500;
    font-size: 18px;
    padding: 15px;
}

.image-mision{
    display: contents;
    margin-top: 30px;
    margin-bottom: 30px;
   min-width: 50vh;
    height: 100vh;
    width: 60%;
   
}
.imgMi{
    display: block;
    width: 80%;
    
}

.creadores-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.container-creador1,.container-creador2,.container-creador3,.container-creador4,.container-creador5{
    margin-top: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.container-creador1{
    background-image: url(../img/fotoperfil.webp);
}

.container-creador2{
    background-image: url(../img/fotoperfil.webp);
}

.container-creador3{
    background-image: url(../img/fotoperfil.webp);
}

.container-creador4{
    background-image: url(../img/fotoperfil.webp);
}

.container-creador5{
    background-image: url(../img/fotoperfil.webp);
}

.creadores-cont{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
}

.nombre-creador{
    text-align: center;
    margin-top: 30px;
}

.all-creadores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}



@media screen and (max-width: 900px){
    .objetivos-texts{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px){
    .image-mision{
        height: 400px;
        min-width: 200px;
        margin: 0;

    }

    .img-objetivos{
        min-width: 200px;
        width: 80%;
    }
    
}