*{
    padding: 0;
    margin: 0;

}

.main{
    position: relative;
    top: 110px;
    background-color: #ff000020;
    width: 100%;
    display: flex;
    height: auto;

    justify-content: center;
}

.section-iz{
    width: 60%;
    
    height: 40%;
    margin: 20px;
    text-align: center;
    
}

.titulo{
    padding-bottom: 40px;
}


.aside-de{
    width: 60%;
    height: 40%;
    margin: 20px;
    text-align: center;

}

.main Button {
    
    margin-top: 30px;
    width: 35%;
    margin: 20px;
    float: right;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.main a{
    text-decoration: none;
    color: black;
}

.image{
    max-width: 200px;
    padding-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 860px) {
    .main{

        width: 100%;
        display: inline-block;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .main Button {
        margin-top: 30px;
        width: 90px;
        margin: 20px;
        height: 40px;
        background-color: white;
        color: black;
        border: 2px solid black;
    }

    .section-iz{
        width: 93%;
        height: 60%;
        margin: 20px;
        
    }
    
    .aside-de{
        width: 93%;
        height: 60%;
        margin: 20px;
    }
    
}

@media screen and (max-width: 550px) {
    .main{

        width: 100%;
        display: inline-block;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .main Button {
        margin-top: 30px;
        width: 110px;
        align-items: center;
        padding: 0%;
        margin: 10px;
        height: 60px;
        background-color: white;
        color: black;
        border: 2px solid black;
    }

    .section-iz{
        width: 93%;
        height: 100%;
        margin: 20px;
        
    }
    
    .aside-de{
        width: 93%;
        height: 100%;
        margin: 20px;
    }
    
}