@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

body{
    background-image: url(../img/RWADbS.webp);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.filters{
    width: 100%;
    min-width: 100vw;
    height: 100%;
    opacity: 55%;
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.div-form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    height: 100%;
}

.title{
    text-align: center;
}

.nomsss{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-noms{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.fieldset-sex{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin-right: 30px;
    margin-left: 30px;
}

.form{
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 10;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

.fech-div{
    margin: 30px;
    display: flex;
    flex-direction: column;
}


.date{
    margin-top: 15px;
    width: 50%;
}


.fieldset-div{
    display: flex;
    flex-direction: row;
}

.div-count{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.count-options{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.botonsito{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.siguiente{
    width: 100px;
    background-color: red;
    text-align: center;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 16px;
    padding: 10px;
}


@media screen and (max-width: 1200px){
    .form{
        margin-top: 10%;
    }
}

@media screen and (max-width: 800px){
    .form{
        margin-top: 20%;
    }
}

@media screen and (max-width: 500px){
    .form{
        background-color: rgba(255, 255, 255, 0.97);
        z-index: 10;
        padding: 20px;
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50%;
        flex-wrap: wrap;
    }

    .fieldset-sex{
        display: flex;
        flex-direction: column;
 
    }

    .nomsss{
        display: flex;
        flex-direction: column;
    }

    .div-noms{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }

    .noms{
        width: 100%;
    }

    .count{
        width: 100%;
    }

    .siguiente{
        width: 100px;
        background-color: red;
        text-align: center;
        color: white;
        border: none;
        border-radius: 16px;
    }


    .fech-div{
        margin: 8px;
    }

    fieldset{
        padding: 5px;
    }

    .botonsito{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 320px){
    .form{
 
        margin-top: 70%;
    }
}


