/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito|Quicksand&display=swap');

body{
    background-color: rgb(17, 61, 118)!important;
    font-size: 1.25em !important;
    
}
::-webkit-scrollbar { width: 9px; height: 9px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover { background: #3d6077;}
::-webkit-scrollbar-thumb:active { background: #8dd0d8;}
::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
::-webkit-scrollbar-track:hover { background: #e4e4e4;}
::-webkit-scrollbar-track:active { background: #d2d2d2;}
::-webkit-scrollbar-corner { background: transparent;}

/* ++++++ MENU ++++++*/
.navbar {
    background-color: rgba(0, 0, 0) !important;
    font-family: 'Roboto', sans-serif !important;
}

#navbarNav ul li a {
    font-weight: 600;
    color: #ffffff;
    transition: 0.6s;
    letter-spacing: 0.4px;
}

a {
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 0, 0);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

a:hover::after {
    width: 100%;
}

#navbarNav ul li .active {
    color: rgb(255, 0, 0);
}

#navbarNav ul li a:hover {
    color: rgb(250, 122, 122);
}

.contenMain{
    width: 100%;
    display: flex;
    z-index: 4;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2{
    width: 100%;
    text-align: center;
}

.contenSub1{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    min-width: 20vh;
    height: 643px;
    background-color: rgb(17, 61, 118);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin: 5px 5px;
    padding: 10px;
}

canvas{
    width: 570px;
    height: 300px;
    color: white;
}
.contenSub2{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    min-width: 40vh;
    overflow-y: scroll;
    padding: 10px;
    height: 643px;
    float: right;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
      margin: 5px 5px;
      border-radius: 20px;
   
     
    
}
.subConten2_1{
    width: auto;
    margin: 5px 5px;
    height: auto;
    padding: 10px 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    font-size: 15px !important;
}
.ContenidoReporte1{
   width: 50%;
    min-width: 20vh;
    color: white;
    
}
.ContenidoReporte2{
    width: 45%;
    color: white;
  
    min-width: 20vh;
}
.contenSub2 h2{
    color: white;
}

@media screen and (max-width: 1100px){

   .h4, h4{
     font-size: 15px !important;
   }
}


@media screen and (max-width: 800px){

    .contenMain{
        flex-wrap: wrap;
    }
    .contenSub2{
        width: 100%;
    }

    .contenSub1{
        width: 100%;
    }

    .subConten2_1{
      flex-wrap: wrap;
      width: 100%;
      margin: 0;
    }
}
